<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="" default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <!-- add button -->
      <ion-button (click)="openModal()" class="ion-justify-content-center" size="small" color="dark"><ion-icon name="add-circle-outline" ></ion-icon>
      Agregar
      </ion-button>
    </ion-item>


 <ion-list class="pacientes-list">
    <ion-card *ngFor="let paciente of pacientes">
      <ion-card-content>
        <p> 
          <strong>Nombre:</strong> {{ paciente.nombre}} {{ paciente.apellido }}
        </p> 
        <p>
          <strong>Documento Único de Identidad:</strong> 
           {{ paciente.dui}}
          </p> 
        <p>
          <strong> Género:</strong>
         {{ paciente.genero}}
        </p>
        <ion-button (click)="openModal(paciente)" color="dark"><ion-icon name="create-outline"></ion-icon></ion-button>
        <ion-button (click)="confirmDelete(paciente.id)" color="dark"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list> 

  </ion-list>

  <!-- Modal para el formulario de paciente -->
  <ion-modal [isOpen]="showForm" (willDismiss)="closeModal()">
    <ion-content>
      <app-paciente-form
        [paciente]="selectedPaciente"
        (onSubmit)="handleFormSubmit($event)">
      </app-paciente-form>
    </ion-content>
  </ion-modal>
</ion-content>
