ion-item {
    --background: transparent;
    --border-color: transparent; 
  }
  
  ion-label h2 {
    font-size: 1.2em; 
    margin: 0; 
  }
  
  ion-label p {
    margin: 0; 
    font-size: 0.9em; 
    color: var(--ion-color-medium); 
  }
  
  ion-button {
    --padding-top: 0; 
    --padding-bottom: 0; 
  }
  