<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-back-button default-href="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Pacientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Juan Perez | Cirugía</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pedro Lopez | Diagnostico</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nayib Bukele | Vasectomia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fernanfloo | Emergencia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Shafick Handal | Curacion</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
