ion-card {
    --box-shadow: none; 
    border-radius: 10px; 
  }
  
ion-item {
    margin-bottom: 16px;
  }
  
ion-button {
    margin-top: 20px; 
  }
.title-header{
    text-decoration: none;
    text-align: center;
}
