<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Doctores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario de Doctor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="submitForm()">


        <ion-item>
          <ion-input label="Nombre"  formControlName="nombre" placeholder="Ingresa nombre"></ion-input>
        </ion-item>


        
        <ion-item>
          <ion-input label="Apellido"  formControlName="apellido" placeholder="Ingresa apellidos"></ion-input>
        </ion-item>
    

        <ion-item>
          <ion-input label="Especialidad"  formControlName="especialidad" placeholder="Ingresa la especialidad"></ion-input>
        </ion-item>


        <!-- Botón de enviar -->
      <ion-button expand="block" type="submit" [disabled]="!form.valid">Guardar</ion-button>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
