<ion-header>
  <ion-toolbar>
    <!-- <ion-title>loginpage</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="btn-back" (click)="BtnRegreso('top')" fill="clear">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
<ion-card class="ion-no-margin">
   <ion-img src="assets/img/header1.png"></ion-img>
    <ion-card-content>
      <ion-card-subtitle class="ion-text.lowercase">
      Recuperación de contraseña
      </ion-card-subtitle>
        <div class="LogForm">
           <!-- <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
             <ion-input type="text" name="correo" placeholder="Correo Electrónico"></ion-input>
           </ion-item>
           <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="password" name="password" placeholder="*****************"></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-input [type]="MostrarPassword1 ? 'text' : 'Password'" name="Password" placeholder="*****************" [(ngModel)]="Passwords1" required></ion-input>
            <ion-icon [name]="MostrarPassword1 ? 'eye-off-outline' : 'eye-outline'" (click)="MostrarPasswords1()"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input [type]="MostrarPassword2 ? 'text' : 'password'" name="password" placeholder="*****************" [(ngModel)]="Passwords2" required></ion-input>
            <ion-icon slot="end" [name]="MostrarPassword2 ? 'eye-off-outline' : 'eye-outline'" (click)="MostrarPasswords2()"></ion-icon>
          </ion-item>
        </div>
        <div class="sign-btn-warp">
           <ion-button fill="solid" class="sign-btn">Guardar contraseña</ion-button>
        </div>
        <div class="text-tag">
          <span>----------O----------</span>
        </div>
       </ion-card-content>
      </ion-card>
</ion-content>
