<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Paciente</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario de Paciente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>DUI</ion-label>
          <ion-input formControlName="dui"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Fecha de nacimiento</ion-label>
          <ion-input formControlName="fecha_nacimiento"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Género</ion-label>
          <ion-select formControlName="genero">
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="femenino">Femenino</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Botón de enviar -->
      <ion-button expand="block" type="submit" [disabled]="!form.valid">Guardar</ion-button>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
