<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-title size="large">Citas</ion-title>
    </ion-toolbar>
  </ion-header>

  <full-calendar [options]="calendarOptions"></full-calendar> <br>

  <app-cita-form></app-cita-form>


  <ion-item *ngFor="let event of events">
    <ion-label>
      {{ event.title }} Fecha: {{ event.date }}
    </ion-label>

  </ion-item>
</ion-content>
