<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consultas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="event-list">
    <ion-card *ngFor="let consulta of consultas" class="event-card">
      <ion-card-content>
        <h2>Código de cita: {{ consulta.cita_id }}</h2>
        <p>Doctor: {{ consulta.cita.doctor_id }}</p>
        <p>Fecha: {{ consulta.cita.date }}</p>
        <p>Diagnóstico: {{ consulta.diagnostico }}</p>
        <!-- Botón de editar -->
        <ion-button color="primary" (click)="openEditModal(consulta)">Editar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
