<ion-tabs>
  <!-- Botón de inicio -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" href="/tabs/tab1">
        <!-- <ion-icon name="planet-outline"></ion-icon> -->
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  <!-- Botón de co -->
      <ion-tab-button tab="tab2" href="/consultas">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Consultas</ion-label>
      </ion-tab-button>
  <!-- Botón de perfil -->
      <ion-tab-button tab="tab3" href="/configuracion">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  