<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MediSphere</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
  <!-- Card: Pacientes Registrados -->
  <ion-col size="6">
    <ion-card button routerLink="/pacientes" class="custom-card">
      <ion-card-header>
        <ion-card-title>Pacientes Registrados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="person-add-outline" size="large"></ion-icon>
        <h2>{{ totalPacientes }}</h2>
        <p>Total de pacientes</p>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <!-- Card: Citas del Día -->
  <ion-col size="6">
    <ion-card button routerLink="/citas" class="custom-card">
      <ion-card-header>
        <ion-card-title>Citas del Día</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="calendar-outline" size="large"></ion-icon>
        <p>Citas programadas para hoy</p>
      </ion-card-content>
    </ion-card>
  </ion-col>

   <!-- Card:Doctores Disponibles -->
   <ion-col size="6">
    <ion-card button routerLink="/doctores" class="custom-card">
      <ion-card-header>
        <ion-card-title>Doctores Disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="medical-outline" size="large"></ion-icon>
        <h2>{{ totalDoctores }}</h2>
        <p>Doctores en consulta actualmente</p>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <!-- Card:Ingresos Mensuales -->
  <!-- <ion-col size="6">
    <ion-card button routerLink="/pacientes" class="custom-card">
      <ion-card-header>
        <ion-card-title>Ingresos Mensuales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="wallet-outline" size="large"></ion-icon>
        <h2>$12,000</h2>
        <p>Ingresos estimados este mes</p>
      </ion-card-content>
    </ion-card>
  </ion-col> -->


     <!-- Card: Pacientes Expedientes
     <ion-col size="6">
      <ion-card button routerLink="/doctores" class="custom-card">
        <ion-card-header>
          <ion-card-title>Expedientes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="fitness-outline" size="large"></ion-icon>
          <h2>{{ totalDoctores }}</h2>
          <p>Expedientes actualmente</p>
        </ion-card-content>
      </ion-card>
    </ion-col> -->

     <!-- Card: alerta -->
     <ion-col size="6">
      <ion-card button routerLink="/loginpage" class="custom-card">
        <ion-card-header>
          <ion-card-title>Alerta</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="notifications-outline" size="large"></ion-icon>
          <p>Alertas</p>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-grid>
</ion-content>
