ion-content{
    --ion-background-color: #E1EAF9 !important;
}
ion-header{
    position: absolute;
}
ion-toolbar {
    --background: transparent;
    --opacity: 0;
}
.LogForm{
    margin-top: 45px;
    background-color: transparent;
    padding: 16px;
    border-radius: 10px;
}

ion-item{
    --background: transparent; 
    --inner-background: transparent; 
    ion-input{
        color: #647b9d ;
        --background: transparent;
        --padding-start: 10px; 
    }
}

.sign-btn-warp{
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    .sign-btn{
        --ion-color-primary: #215AB7;
    }
}
.text-tag{
    margin-top: 40px;
    text-align: center;
span{
    font-size: 13px;
    font-weight: normal;
    color:#898585 ;
}
}
ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
    width: 100%;
    height: 100%;
}
.btn-back {
    --color: whitesmoke;
}