<ion-header>
  <ion-toolbar>
    <!-- <ion-title>loginpage</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="btn-back" (click)="BtnRegreso('top')" fill="clear">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/img/header1.png"></ion-img>
    <ion-card-content>
      <div class="LogForm">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input
            type="text"
            name="correo"
            placeholder="Correo Electrónico"
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input
            [type]="mostrarPassword ? 'text' : 'password'"
            name="password"
            placeholder="*****************"
            [(ngModel)]="password"
          ></ion-input>
          <ion-icon
            [name]="mostrarPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="mostrarPasswords()"
          ></ion-icon>
        </ion-item>
      </div>
      <div class="sign-btn-warp">
        <ion-button fill="solid" class="sign-btn" (click)="login()">Iniciar sesión</ion-button>
      </div>
      <div class="text-tag">
        <span>----------O----------</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
