<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario de Cita</ion-card-title>
    </ion-card-header>
    <form [formGroup]="citaForm" (ngSubmit)="submitForm()">
      
      <!-- Select de Doctor -->
      <ion-item>
        <!-- <ion-label position="floating">Doctor</ion-label> -->
        <ion-select formControlName="doctor_id" placeholder="Seleccione un doctor" required>
          <ion-select-option *ngFor="let doctor of doctores" [value]="doctor.id">
           Dr.  {{ doctor.nombre }} {{ doctor.apellido }}<!-- Asegúrate de que esta propiedad sea la correcta -->
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Select de Paciente -->
      <ion-item>
        <!-- <ion-label position="floating">Paciente</ion-label> -->
        <ion-select formControlName="paciente_id" placeholder="Seleccione un paciente" required>
          <ion-select-option *ngFor="let paciente of pacientes" [value]="paciente.id">
            {{ paciente.nombre }} {{ paciente.apellido }}<!-- Asegúrate de que esta propiedad sea la correcta -->
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Título de la cita -->
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <!-- Fecha y hora -->
      <ion-item>
        <ion-label>Fecha y Hora</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" presentation="date-time" (ionChange)="onDateChange($event)"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <!-- Estado de la cita -->
      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-input formControlName="estado"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="!citaForm.valid">Crear Cita</ion-button>
    </form>
  </ion-card>
</ion-content>
